<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HomeWork №2 (Figma layout)</title>
</head>
<body>
	<div style="margin: 25px auto 0; width: 1023px;">	
		<div>
			<h2 text-align: left;>
				Full width image with caption
			</h2>
			<img src="./img/city.jpg" alt="city" width="1023px"><br>
			<span>
				Carrot cake chupa chups gummi bears sweet fruitcake gummi bears sweet roll marzipan.
			</span>
		</div>
		<div>
			<h2 style="text-align: center;">
				Full width image with caption
			</h2>
			<img src="./img/city.jpg" alt="City" width="1023">
		</div>
		<div style="text-align: center;">
			<h2 style="text-align: right;">
				Centered image with caption
			</h2>
			<img src="./img/city.jpg" alt="city" width="767px" ><br>
			<span>
				Carrot cake chupa chups gummi bears sweet fruitcake gummi bears sweet roll marzipan.
			</span>
		</div>
		<div style="text-align: center;">
			<h2>Centered image with caption</h2>
			<img src="./img/city.jpg" alt="city" width="767px"> 

		</div>
		<div>
			<h2>Images with horizontal scroll</h2>
			<img src="./img/scheme.jpg" alt="some scheme"><br>
			<span>
				An example of a wide image that may require horizontal scroll depending on device width.
			</span>

		</div>
		<div>
			<h2>Screenshots</h2>
			<img src="./img/screenshot.jpg" alt="screenshot">

		</div>
		<div>
			<h2>Circular images</h2>
			<img src="./img/avatar.jpg" alt="avatar" width="150px">
		</div>
	</div>
</body>
</html>