@import url(./normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Volkhov&display=swap');

html{
	font-size: 14px;
}

body, a, p, div, h1, h2, h3, h4, ul, li{
	font-family: 'Rosario';
	max-width: 1620px;
	margin: 0 auto;
}

ul, li{
	list-style: none;
	text-decoration: 0;
}

a, a:hover, a:link, a:visited{
	text-decoration: none;
	color: black;
}

p{
	margin: 0;
	padding: 0;
}

section{
	width: 93%;
	margin: 4.5rem auto 0;
}


.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 99;
}

.header__logo{
	width: 14%;
	background-color: white;
}

.header__nav{
	min-width: 60%;

}

.header__nav-list{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__nav-list-item>a{
	color: white;
	font-size: 2.25rem;
	font-weight: 700;
	font-style: italic;
}

.gallery{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gallery-item{
	width: 20%;
	position: relative;
}

.gallery__box{
	max-width: 52.3%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: max-content;
	gap: 2.5rem 1.4rem;
}

.gallery-box-item{
	width: 100%;
	display: block;
	position: relative;
}

.gallery-item-left{
	animation: gallery-box-item-left-anim 2s ease 1;
}

.gallery-item-right{
	animation: gallery-box-item-right-anim 2s ease 1;
}

.gallery-box-item-left{
	animation: gallery-box-item-left-anim 1s ease 1;
}

.gallery-box-item-right{
	animation: gallery-box-item-right-anim 1s ease 1;
}

.services{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	gap: 5.2rem;
}

.services__box{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	padding-left: 4.1rem;
	padding-top: 1.6rem;
	gap: 7.5rem;
}

.services__box_item{
	position: relative;
}

.services__image{
	width: 100%;
}

.services__box_item>img{
	width: 100%;
}


.services__box_item>p{
	font-style: italic;
	font-size: 2.5rem;
	text-align: center;
	word-wrap: break-word;
	line-height: 3.6rem;
	margin-top: 0.75rem;
	font-weight: 700;
}

.styling{
	animation: styling-anim 10s linear infinite;
}

.trimming{
	animation: trimming-anim 10s linear infinite;
}

.hair_str{
	animation: hair_str-anim 10s linear infinite;
}

.smooth_shave{
	animation: smooth_shave-anim 10s linear infinite;
}

.team__title{
	font-size: 6rem;
	text-align: center;
	margin-top: 4.5rem;
	font-weight: 700;
}
.team__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.team__container-card{
	width: 23%;
	margin: 0;
}

.team__container-card>img{
	width: 100%;
	border-radius: 40px;
	filter: brightness(0.4);
}

.team__container-card-name{
	font-family: 'Volkhov';
	font-size: 2.5rem;
	color: #FFFAFA;
	text-align: center;
	background-color: rgba(163, 83, 10, 0.7);
	width: 100%;
	height: 10rem;
	padding-top: 3.5rem;
	box-sizing: border-box;
	position: relative;
	bottom: 143px;
	border-radius:0 0 40px 40px;
	display: block;
	opacity: 0;
}

.contacts{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts__msg,
.contacts__map{
	width: 48%;
	height: 35.5rem;
}

.contacts__msg-title{
	font-size: 3.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 3.5rem;
	font-style: italic;
}

.contacts__msg-form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr;
	padding: 2rem;
	background-color: #E5E5E5;
	gap: 2.25rem;
	height: 24rem;
	box-sizing: border-box;
}

.contacts__msg-form-text,
.contacts__msg-form-mail,
.contacts__msg-form-name{
	border: none;
	font-size: 2.2rem;
	width: 100%;
}

.contacts__msg-form-text{
	grid-column: 1/-1;
	resize: none;
}

.footer__container{
	display: flex;
	justify-content: space-between;
	margin-top: 8.5rem;
}

.footer__container-item{
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}

.footer__container-item>p>a,
.italic-semibold,
.footer__container-item>p{
	font-weight: 600;
	font-style: italic;
}

.bold-normal{
	font-weight: 700;
	font-style: normal;
}

p.footer__container-item-title{
	font-size: 2.5rem;
	margin-bottom: 2rem;
	font-style: normal;
	font-weight: 700;
}

.social{
	font-weight: 600;
}

p.social-title{
	font-weight: 700;
	font-style: normal;

}

.social__instagram::before{
	content: url(../icons/insta.svg);
	position: relative;
	right: 1.5rem;
}

.social__facebook::before{
	content: url(../icons/facebook.svg);
	position: relative;
	right: 1.5rem;
}

.social__twitter::before{
	content: url(../icons/twitter.svg);
	position: relative;
	right: 1.5rem;
}

.social__facebook,
.social__twitter,
.social__instagram{
	width: 65%;
	margin: 0 auto;
	text-align: left;
	display: block;
}

.card__meredith:hover>p{
	opacity: 100;
	transition: 1000ms;
}

.card__meredith:hover>img{
	filter: brightness();
}


.card__jason:hover>p{
	opacity: 100;
	transition: 1000ms;
}

.card__jason:hover>img{
	filter: brightness();
}

.card__ryan:hover>p{
	opacity: 100;
	transition: 1000ms;
}

.card__ryan:hover>img{
	filter: brightness();
}

.card__james:hover>p{
	opacity: 100;
	transition: 1000ms;
}

.card__james:hover>img{
	filter: brightness();
}


@keyframes gallery-box-item-left-anim {
	from{
		left: -400%;
	}
	to{
		left: 0;
	}
}

@keyframes gallery-box-item-right-anim {
	from{
		right: -400%;
	}
	to{
		right: 0;
	}
}

@keyframes styling-anim {
	from,to{
		left: 0;
		top: 0;
	}

	25%{
		top: 0;
		left: 141%;
	}

	50%{
		top: 130%;
		left: 141%;
	}

	75%{
		left: 0;
		top: 130%;
	}

}

@keyframes trimming-anim {
	from,to{
		left: 0;
		top: 0;
	}

	25%{
		top: 130%;
		left: 0;
	}

	50%{
		top: 130%;
		left: -141%;
	}

	75%{
		left: -141%;
		top: 0;
	}

}

@keyframes hair_str-anim {
	from,to{
		left: 0;
		top: 0;
	}

	25%{
		top: 0;
		left: -141%;
	}

	50%{
		top: -130%;
		left: -141%;
	}

	75%{
		left: 0;
		top: -130%;
	}

}

@keyframes smooth_shave-anim {
	from,to{
		left: 0;
		top: 0;
	}

	25%{
		top: -130%;
		left: 0
	}

	50%{
		top: -130%;
		left: 141%;
	}

	75%{
		left: 141%;
		top: 0;
	}

}

@media screen and (max-width: 1440px){
	html{
		font-size: 12px;
	}

	.team__container-card>p{
		bottom: 10rem;
	}
}

@media screen and (max-width: 1280px){
	html{
		font-size: 9px;
	}
}

@media screen and (max-width: 992px){
	html{
		font-size: 7px;
	}

	.gallery{
		display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    width: 100%;
	}

	.gallery-item {
    width: 100%;
    position: relative;
    align-self: end;
	}

	.gallery__box{
		max-width: 100%;
		grid-column: 1/-1;
	}

	.gallery-item-right{
		grid-column: 2/3;
    grid-row: 1/2;
	}

	.gallery-box-item-left{
		animation: gallery-box-item-left-anim 2s ease 1;
	}

	.gallery-box-item-right{
		animation: gallery-box-item-right-anim 2s ease 1;
	}
}

@media screen and (max-width: 768px){

	.header__nav{
		min-width: 86%;
	}

	.header__nav-list{
		padding: 0;
	}

	.gallery{
		display: flex;
		flex-direction: column;
		width: 90%;
	}
	.gallery-item{
		width: 100%;
	}

	.gallery__box{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.gallery-item-left {
    animation: gallery-box-item-right-anim 2s ease 1;
	}
	.gallery-item-right {
    animation: gallery-box-item-left-anim 2s ease 1;
	}
	.services{
		width: 75%;
		display: flex;
	}

	.services__image{
		display: none;
	}

	.team__container{
		flex-direction: column;
	}

	.team__container-card{
		width: 60%;
	}

	.team__container-card>p{
		bottom: 20rem;
		height: 20rem;
		font-size: 5rem;
		padding-top: 6.5rem;
	}

	.contacts{
		flex-direction: column-reverse;
		width: 60%;
		height: 80rem;
	}

	.contacts__map, .contacts__msg{
		width: 100%;
	}

	.footer__container{
		flex-direction: column;
		height: 44rem;
	}

	.footer__container-item{
		min-width: 30%;

	}

	.social-title{
		margin-bottom: 2rem;
	}
}