.parent{
	height: 200px;
	width: 200px;
	border: 1px solid black;
}

.two{
	display: none;
}

.show{
	display: none;
}
.card:hover .show{
	display: inline-block;
}

.card:hover .price{
	display: none;
}

.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card:hover path{
	fill: green;
}

.card>img{
	width: 100%;
}